/* print.css */
@media print {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: none;
    }

    img {
        display: block;
        
    }
    
    .recipe-container {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    /* Hide unnecessary elements when printing */
    .no-print, header, footer, nav {
        display: none !important;
        padding: 0 !important;
    }

    /* Adjust layout for printing */
    .container {
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
    }

    .p-5 {
        padding: 0 !important;
        margin: 0 !important;
    }
}
