@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap');
@import "../bootstrap/breakpoints";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


* {
    outline: 1px solid red;
}

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;



$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

.lobster-regular {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

div {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, .navbar-brand {
    font-family: "Lobster", sans-serif;
}
  
h2, h3, h4, h5, h6, p, li, a {
    font-family: "Inter", sans-serif;
}

p {
    margin-bottom: 0 !important;
}

body {
    background: url("../../media/bg.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

i {
    font-size: 20px;
}

@include media-breakpoint-up(md) {
    .navbar {
        height: 100px;
    }
}

// Card for recipes on index page
.card img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

// Individual recipe page
.recipe-container {
    background-color: #fff;
    height: 80vh;
}

.recipe-img-container {
    height: 250px;
}



@include media-breakpoint-up(md) {
    .recipe-img-container {
        height: 500px;
    }
}

// Star Rating
.star-rating input[type="radio"] {
    display: none;
}

.star-rating-label {
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
}

.existing {
    color: gold;
}

// Django Message
.alert {
    position: absolute !important;
    top: 200px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: visibility 0s, opacity 250ms, transform 1s;
}

.alert.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px); // translateX, translateY, translateZ works well
    transition: visibility 0s 250ms, opacity 250ms, transform 1s;
}

@include media-breakpoint-up(md) {
    .alert {
        top: 600px;
    }
}

.dropdown-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f8f9fa;
  }
  .dropdown-menu .col-md-4 {
    padding: 10px;
  }
  .search-bar {
    max-width: 300px;
  }
  @media (max-width: 768px) {
    .navbar-nav {
      display: none;
    }
  }


  .email-print-container button, .email-print-container a, .social-sharing-container button, .social-sharing-container a {
    padding: 0;
    border: 0;
    background: none;
    color: $gray-600;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }


  .email-print-container button:hover, .email-print-container a:hover, .social-sharing-container button:hover, .social-sharing-container a:hover {
    color: $gray-900;
  }