@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  outline: 1px solid red;
}

.lobster-regular {
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

div {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, .navbar-brand {
  font-family: "Lobster", sans-serif;
}

.navbar-brand img {
  width: 75px;
}

@media (min-width: 768px) {
  .navbar-brand img {
    width: 100px;
  }
}
h2, h3, h4, h5, h6, p, li, a, label, span, button {
  font-family: "Inter", sans-serif !important;
}

a {
  color: #000 !important;
  text-decoration: none !important;
}

p {
  margin-bottom: 0 !important;
}

body {
  background: url("../images/bg.jpg") repeat center center;
  background-size: auto;
  width: 100%;
  height: 100%;
}

i {
  font-size: 20px;
}

textarea {
  max-width: 90%;
}

@media (min-width: 768px) {
  .navbar {
    height: 100px;
  }
}
.card img {
  max-height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recipe-byline p {
  color: #0d6efd;
}

.filter-container {
  background-color: #dee2e6;
}

#id_tags {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 1rem;
}

#id_cuisine {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 1rem;
}

#id_meal_type {
  margin-bottom: 1rem;
}

.recipe-container {
  background-color: #fff;
  height: 80vh;
}

.recipe-img-container {
  height: 250px;
}

@media (min-width: 768px) {
  .recipe-img-container {
    height: 500px;
  }
}
.star-rating input[type=radio] {
  display: none;
}

.star-rating-label {
  color: #ccc;
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
}

.existing {
  color: gold;
}

.alert {
  position: absolute !important;
  top: 200px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: visibility 0s, opacity 250ms, transform 1s;
}

.alert.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: visibility 0s 250ms, opacity 250ms, transform 1s;
}

@media (min-width: 768px) {
  .alert {
    top: 600px;
  }
}
.dropdown-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #f8f9fa;
}

.dropdown-menu .col-md-4 {
  padding: 10px;
}

.search-bar {
  max-width: 300px;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none;
  }
}
.email-print-container button, .email-print-container a, .social-sharing-container button, .social-sharing-container a {
  padding: 0;
  border: 0;
  background: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.email-print-container button:hover, .email-print-container a:hover, .social-sharing-container button:hover, .social-sharing-container a:hover {
  color: #212529;
}

.bi-heart, .bi-heart-fill {
  color: #dc3545;
}

.pagination .page-link {
  color: black;
}/*# sourceMappingURL=style.css.map */