

body {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(32, 33, 36);
    line-height: 27px;
}

a {
    text-decoration: none;
    padding: 8px 20px;
    color: rgb(32, 33, 36);
}

span {
    color: #4285f4;
    font: 16px / 16px Arial, sans-serif;
    position: relative;
    left: 216px;
    bottom: 15px;
    white-space: nowrap;
}

h1 {
    color: #d93025;
    font-size: 20px;
    font-weight: normal;
}

h2 {
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-weight: 500;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
    align-items: center;
}

.page-links {
    display: flex;
    justify-content: flex-end;
}

.advanced-page-links {
    display: flex;
    justify-content: space-between;
}

#small-logo {
    width: 74px;
}

.logo-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    padding-top: 6px;
    position: relative;
}

form {
    width: 584px;
}

#advanced-form {
    width: 800px;
}

.search-btn-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 6px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search {
    width: 100%;
    max-width: 584px;
    min-height: 52px;
    background: #ecedef;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 32px;
    border: none;
    font-size: 16px;
    padding: 0px 20px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 22px;
}

.search:focus-visible {
    border: none;
}

.search-btn {
    background: transparent;
    border: none;
    position: absolute;
    right: 20px;
}

.advanced-main {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.advanced-btn {
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    padding: 0 12px;
    margin: 10px 0;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.advanced-btn-container {
    display: flex;
    margin: 20px 0;
    justify-content: flex-end;
}

.advanced-form-container {
    display: flex;
    width: 100%;
}

.input-container {
    display: flex;
    padding: 10px 0;
}

.input-container label {
    width: 300px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(34, 34, 34);
}

.input-container input {
    width: 100%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.column-container {
    width: 100%;
}

.h1-container {
    display: flex;
    width: 100%;
}
