{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <!-- Loop through each active listing -->
    {% for item in listings %}
        {% if item.is_active %}

            <!-- Item details -->
             <div class="item-container">
                <div class="item-img">
                    {% if item.image_url %}
                        <!-- Display the item picture -->
                        <img src="{{ item.image_url }}" width="300" alt="Listing Image">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                </div>
                <div class="item-details">
                    <div class="item-main-desc">
                        <h3>{{ item.name }}</h3>
                        <h4>Current Bid: ${{ item.current_highest_bid }}</h4>
                    </div>
                    <hr class="item-hr">
                    <p>Category: {{ item.category }}</p>
                    <p>Description: {{ item.description }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}