{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}PlushBuy{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poetsen+One&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="media/images/favicon.ico">
    </head>
    <body>
        <!-- Header -->
         <header>
            <div>
                <h1>PlushBuy</h1>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                    </li>

                    <!-- If user is logged in, they see watchlist, create new listing and logout -->
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_listing' %}">Create Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>

                    <!-- Else user can login or sign up -->
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- User Profile Section -->
            <div class="user-container">
                <!-- If user is logged in -->
                {% if user.is_authenticated %}
                    <p>Signed in as <strong>{{ user.username }}</strong></p>
                    {% if user.image %}
                        <!-- Display the image of the logged in user -->
                        <img src="{{ user.image.url }}" alt="User Image" class="user-img">
                    {% else %}
                        <!-- If user doesn't have a profile pic -->
                        <p>No image available</p>
                    {% endif %}
                {% else %}
                    Not signed in.
                {% endif %}
            </div>
        </header>
        <hr>
        <!-- Breadcrumb Nav -->
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Active Listings</a></li>
                <li class="breadcrumb-item"><a href="{% url 'categories' %}">Categories</a></li>
                {% if category %}
                    <li class="breadcrumb-item"><a href="{% url 'category_listings' category.name %}" alt="">{{ category.name }}</a></li>
                {% endif %}
                {% if listing %}
                    <li class="breadcrumb-item">{{ listing.name }}</li>
                {% endif %}
            </ol>
        </nav>
        {% block body %}
        {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
