{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.name }}</h2>
    <!-- Listing details -->
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </div>
  {% endif %}
    <div class="listing-container">
        <div class="row">
            <div class="listing-img">
                {% if listing.image_url %}
                    <!-- Display the item picture -->
                    <img src="{{ listing.image_url }}" width="300" alt="Listing Image">
                {% else %}
                    <p>No image available</p>
                {% endif %}

                {% if user.is_authenticated %}
                    <!-- Add/remove listing to watchlist -->
                    <form action="{% url 'listing_page' listing.id %}" method="post" class="add-watchlist-form">
                        {% csrf_token %}
                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                        {% if is_watched %}
                            <!-- If the user is watching the listing, show the "Remove from Watchlist" button -->
                            <button type="submit" name="action" value="remove" class="btn btn-danger">Remove from Watchlist</button>
                        {% else %}
                            <!-- If the user is not watching the listing, show the "Add to Watchlist" button -->
                            <button type="submit" name="action" value="add" class="btn btn-success">Add to Watchlist</button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
            <!-- Listing Details -->
            <div class="listing-details">
                <div class="listing-main-desc">
                    <h3><a href="{% url 'listing_page' listing.id %}">{{ listing.name }}</a></h3>
                    
                    <!-- If the listing has a bid, show it otherwise revert to starting bid -->
                    {% if listing.current_highest_bid %}
                        <h4>Current Bid: ${{ listing.current_highest_bid }}</h4>
                    {% else %}
                        <h4>Starting Bid: ${{ listing.starting_bid }}</h4>
                    {% endif %}
                </div>
                <hr class="listing-hr">
                {% if listing.category %}
                    <p>Category: <a href="{% url 'category_listings' listing.category.name %}">{{ listing.category }}</a></p>
                {% endif %}
                <p>Description: {{ listing.description }}</p>

                <!-- If user is logged in -->
                {% if user.is_authenticated %}
                    <!-- Allow user to bid on item -->
                    {% if listing.is_active %}
                        {% if bid_form %}
                            <form action="{% url 'listing_page' listing.id %}" method="post" class="add-bid-form">
                                {% csrf_token %}
                                {{ bid_form }}
                                <button class="btn btn-secondary" type="submit">Add Bid</button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <!-- Comments section -->
            <div class="listing-comments">
                <h5>Comments</h5>
                {% for comment in page_obj %}
                    <div class="comment">
                        <small>{{ comment.user }} on {{ comment.created_at }}</small>
                        <p>{{ comment.content }}</p>
                    </div>
                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}

                <!-- Pagination controls -->
                <nav>
                    <ul class="pagination">
                    <!-- Previous button -->
                    {% if page_obj.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                    {% endif %}

                    <!-- Display current page number -->
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    <!-- Next button -->
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        
        <!-- If user is logged in -->
        {% if user.is_authenticated %}
            <!-- Add Comment Form -->
            {% if comment_form %}
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#comment-form" aria-expanded="false" aria-controls="comment-form">
                    Add a Comment
                </button>
                <div class="collapse" id="comment-form">
                    <form action="{% url 'listing_page' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ comment_form }}
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </div>
            {% endif %}
            <!-- Close auction button if creator of active listing -->
            {% if listing.creator == user %}
                {% if listing.is_active %}
                    <form action="{% url 'update_listing_status' listing.id %}" method="post" >
                        {% csrf_token %}
                        <button class="btn btn-secondary" type="submit">Close Auction</button>
                    </form>
                {% endif %}
            {% endif %}

            <!-- If winning bidder, display message -->
            {% if listing.winning_bidder == user and listing.is_active is False %}
                <div class="alert alert-success" role="alert">
                    You have won this auction!
                </div>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}