{% extends "network/layout.html" %}


{% block body %}
    <h2>{{ profile_user.username }}</h2>
    <p class="follow-count" id="follow-count-{{ profile_user.username }}">Followers: {{ profile_user.followers.count }}</p>
    <p>Following: {{ profile_user.following.count }}</p>

    {% if user.username != profile_user.username %}
        {% csrf_token %}
        <button class="btn btn-primary follow-btn" data-profile-username="{{ profile_user.username }}">
            {% if is_following %}
                Unfollow
            {% else %}
                Follow
            {% endif %}
        </button>
    {% endif %}

    <div class="all-posts-container">
    {% for post in posts %}
        <div class="post-container">
            <div class="post-details" id="post-{{ post.id }}">
                <h5>{{ post.created_at }}</h5>
                <h5>{{ post.content }}</h5>
            </div>

            <img src="{{ post.image.url }}" class="post-img">
        </div>
    {% endfor %}
    </div>



{% endblock %}