{% extends "layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <h2>Add a New Recipe</h2>
        <div>
            <!-- Create Listing Form -->
            <form action="{% url 'add_recipe' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ create_form }}
                {{ formset }}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    {% endif %}

{% endblock %}