{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class="container mt-5">
    <h2>Home</h2>

    <!-- Filter and sort form -->
    <form method="get" action="{% url 'index' %}">
        {% csrf_token %}
        {{ filter_form.as_p }}
        {{ sort_form.as_p }}
        <button type="submit" name="form_type" value="filter" class="btn btn-primary">Filter Recipes</button>
    </form>


    <!-- Row to display recipes in 3-column grid -->
    <div class="row">
        {% for recipe in page_obj %}
        <div class="col-12 col-md-4 mb-4">
            <div class="card">
                <!-- Display recipe image -->
                {% if recipe.image %}
                    <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.name }}">
                {% else %}
                    <img src="{% static 'images/default-img.jpg' %}" class="card-img-top" alt="Default image">
                {% endif %}

                <div class="card-body">
                    
                    <!-- Display author name and created at -->
                    <div class="recipe-byline d-flex justify-content-between">
                        <p class="card-title text-center"><small>{{ recipe.user.username }}</small></p>
                        <p class="card-title text-center"><small>{{ recipe.created_at }}</small></p>
                    </div>
                    
                    <!-- Display recipe name -->
                    <h5 class="card-title text-center"><a href="{% url 'recipe' recipe.name %}">{{ recipe.name }}</a></h5>

                    <!-- Display average ratings -->
                    {% if recipe.average_rating %}
                        <p class="star-avg-rating" data-avg-rating="{{ recipe.average_rating }}">Average Rating: {{ recipe.average_rating }}
                    {% endif %}

                    <!-- Display tags, cuisine and mealtype -->
                    {% for tag in recipe.tags.all %}
                        <a href="{% url 'index' %}?tags={{ tag.name }}" class="btn btn-primary">{{ tag.name }}</a>
                    {% endfor %}
                    <a id="recipe-cuisine-{{ recipe.id }}" href="{% url 'index' %}?cuisine={{ recipe.cuisine }}" class="btn btn-secondary">{{ recipe.cuisine }}</a>
                    <a id="recipe-mealtype-{{ recipe.id }}" href="{% url 'index' %}?meal_type={{ recipe.meal_type }}" class="btn btn-secondary">{{ recipe.meal_type }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination Links -->
     {% if page_obj %}
     <div class="pagination justify-content-center pb-5">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="page-link">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a>
        {% endif %}

        <span class="current page-link">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
  </div>


{% endblock %}