{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class="container mt-5">
    <div class="container text-center mb-5">
        <h2>Welcome to Cookery</h2>
        <h3>Find inspiration for your next meal</h3>
    </div>


    <!-- Filter and sort form -->
    <div class="container filter-container p-3 mb-5 rounded">
        <div class="d-flex align-items-center">
            <h5>Filter Recipes</h5>
            <button class="btn filter-btn">
                <i class="bi bi-funnel"></i>
            </button>
        </div>
        <form method="get" action="{% url 'index' %}">
            {% csrf_token %}
            <div class="filter-content">
                <p class="field-tags filter-field">
                    <label for="{{ form.tags.id_for_label }}">Tags:</label>
                    {{ filter_form.tags }}
                </p>
                
                <p class="field-cuisine filter-field">
                    <label for="{{ form.cuisine.id_for_label }}">Cuisine:</label>
                    {{ filter_form.cuisine }}
                </p>
                
                <p class="field-meal_type filter-field">
                    <label for="{{ form.meal_type.id_for_label }}">Meal Type:</label>
                    {{ filter_form.meal_type }}
                </p>
                {{ sort_form.as_p }}
                <button type="submit" name="form_type" value="filter" class="btn btn-primary mt-3">Show Recipes</button>
            </div>
        </form>
    </div>

    <!-- Row to display recipes in 3-column grid -->
    <div class="row">
        {% for recipe in page_obj %}
        <div class="col-12 col-md-4 mb-4">
            <div class="card">
                <!-- Display recipe image -->
                {% if recipe.image %}
                    <a href="{% url 'recipe' recipe.name %}"><img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.name }}"></a>
                {% else %}
                    <img src="{% static 'images/default-img.jpg' %}" class="card-img-top" alt="Default image">
                {% endif %}

                <div class="card-body">
                    
                    <!-- Display author name and created at -->
                    <div class="recipe-byline d-flex justify-content-between">
                        <p class="card-title text-center"><small>{{ recipe.user.username }}</small></p>
                        <p class="card-title text-center"><small>{{ recipe.created_at }}</small></p>
                    </div>
                    
                    <!-- Display recipe name -->
                    <h5 class="card-title"><a href="{% url 'recipe' recipe.name %}">{{ recipe.name }}</a></h5>

                    <!-- Display average ratings -->
                    {% if recipe.average_rating %}
                        <p class="star-avg-rating" data-avg-rating="{{ recipe.average_rating }}">Average Rating: {{ recipe.average_rating }}
                    {% endif %}

                    <div>
                        <!-- Display tags, cuisine and mealtype -->
                        {% for tag in recipe.tags.all %}
                            <a href="{% url 'index' %}?tags={{ tag.name }}" class="btn btn-warning mt-2 mb-2">{{ tag.name }}</a>
                        {% endfor %}
                        {% for cuisine in recipe.cuisine.all %}
                            <a href="{% url 'index' %}?cuisine={{ cuisine.name }}" class="btn btn-info mt-2 mb-2">{{ cuisine.name }}</a>
                        {% endfor %}
                        {% for meal_type in recipe.meal_type.all %}
                                <a href="{% url 'index' %}?meal_type={{ meal_type.name }}" class="btn btn-success mt-2 mb-2">{{ meal_type.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination Links -->
     {% if page_obj %}
     <div class="pagination justify-content-center pb-5">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="page-link">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a>
        {% endif %}

        <span class="current page-link">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
  </div>


{% endblock %}