{% extends "layout.html" %}

{% block body %}
<div class="container-md recipe-container p-0 mt-5">
    {% if recipe %}
    <div class="container-fluid p-0">
        <div class="recipe-img-container p-5 text-left" style="{% if recipe.image %}background-image: url('{{ recipe.image.url }}'){% endif %}; background-size: cover; background-position: center;">
          <h2 class="text-body-emphasis">{{ recipe.name }}</h2>
        </div>
    </div>
    {% endif %}
    <div class="container p-5 pb-0">
        <p>{{ recipe.description }}</p>
    </div>
    <div class="container-fluid p-0">
        <div class="row p-5">
          <div class="col-md-6">
            <h3>Ingredients</h3>
          </div>
          <div class="col-md-6">
            <h3>Instructions</h3>
          </div>
        </div>
      </div>
</div>

{% endblock %}