{% extends "layout.html" %}

{% block body %}
<div class="container-md recipe-container p-0 mt-5 mb-5">
    {% if recipe %}
    <div class="container-fluid p-0">
        <div class="recipe-img-container p-5 text-left" style="{% if recipe.image %}background-image: url('{{ recipe.image.url }}'){% endif %}; background-size: cover; background-position: center;">
          <!-- Display recipe name -->
            <h2 class="text-body-emphasis">{{ recipe.name }}</h2>
          <!-- Display recipe average rating -->
          <p class="star-avg-rating" data-avg-rating="{{ recipe.average_rating }}">Average Rating: {{ recipe.average_rating }}</p>
        </div>
    </div>
    {% endif %}
    <div class="container p-5">
        <div>
            <!-- Display django message if rating saved/failed -->
            {% if messages %}

            {% for message in messages %}
                <li class="alert alert-{{ message.level_tag }}" style="list-style-type:none;">
                    {{ message }}
                </li>
            {% endfor %}
            {% endif %}

            <!-- Display star rating container if logged in -->
            {% if user.is_authenticated %}
            <div class="star-rating-container">
                <form method="post">
                    {% csrf_token %}
                    <!-- Render the 'value' field -->
                    <div class="form-group">
                        <div class="star-rating mb-2">
                            <!-- Display default star rating if user has not rated before -->
                            {% if not existing_rating %}
                                {% for choice in rating_form.value.field.choices %}
                                    <input type="radio" id="rating_{{ choice.0 }}" name="{{ rating_form.value.name }}" value="{{ choice.0 }}" class="star-rating-input">
                                    <label for="rating_{{ choice.0 }}" class="star-rating-label">
                                        <i class="bi bi-star-fill"></i>
                                    </label>
                                {% endfor %}

                            <!-- If existing rating, display saved rating -->
                            {% else %}
                                {% for choice in rating_form.value.field.choices %}
                                    <input type="radio" id="rating_{{ choice.0 }}" name="{{ rating_form.value.name }}" value="{{ choice.0 }}" class="star-rating-input"
                                    {% if choice.0 == existing_rating.value %} checked {% endif %}> <!-- Mark the radio button as checked if it matches the existing rating -->
                                    <label for="rating_{{ choice.0 }}" class="star-rating-label">
                                        <i class="bi bi-star-fill"></i> <!-- Use 'existing' class for styling -->
                                    </label>
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit Rating</button>
                </form>
            </div>
            {% endif %}
        </div>

        <!-- Display recipe description -->
        <div class="mt-5">        
            <p>{{ recipe.description }}</p>
        </div>

        <div class="mt-5">
            <div class="row">
            <div class="col-md-6">
                <!-- Display recipe ingredients -->
                <h3>Ingredients</h3>
                {% for ingredient in recipe.ingredients.all %}
                    <li>{{ ingredient.name }}</li>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <!-- Display recipe instructions -->
                <h3>Instructions</h3>
                {% if recipe.instructions %}
                    <p>{{ recipe.instructions }}</p>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}