{% extends "layout.html" %}

{% block body %}
<div class="container-md recipe-container p-0 mt-5 mb-5">
    {% if recipe %}
    <div class="container-fluid p-0">
        <div class="recipe-img-container p-5 text-left" style="{% if recipe.image %}background-image: url('{{ recipe.image.url }}'){% endif %}; background-size: cover; background-position: center;">
          <!-- Display recipe name -->
            <h2 class="text-body-emphasis" id="recipe-name-{{ recipe.id }}">{{ recipe.name }}</h2>
          <!-- Display recipe average rating -->
          <p class="star-avg-rating" data-avg-rating="{{ recipe.average_rating }}">Average Rating: {{ recipe.average_rating }}</p>
        </div>
    </div>
    {% endif %}
    <div class="container p-5">
        <div>
            <!-- Display django message if rating saved/failed -->
            {% if messages %}
                {% for message in messages %}
                    {% if message.level_tag == "error" %}
                        <li class="alert alert-danger" style="list-style-type:none;">
                            {{ message }}
                        </li>
                    {% else %}
                        <li class="alert alert-{{ message.level_tag }}" style="list-style-type:none;">
                            {{ message }}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- Display star rating container if logged in -->
            {% if user.is_authenticated %}
            <div class="star-rating-container">
                <form method="post">
                    {% csrf_token %}
                    <!-- Render the 'value' field -->
                    <div class="form-group">
                        <div class="star-rating mb-2">
                            <!-- Display default star rating if user has not rated before -->
                            {% if not existing_rating %}
                                {% for choice in rating_form.value.field.choices %}
                                    <input type="radio" id="rating_{{ choice.0 }}" name="{{ rating_form.value.name }}" value="{{ choice.0 }}" class="star-rating-input">
                                    <label for="rating_{{ choice.0 }}" class="star-rating-label">
                                        <i class="bi bi-star-fill"></i>
                                    </label>
                                {% endfor %}

                            <!-- If existing rating, display saved rating -->
                            {% else %}
                                {% for choice in rating_form.value.field.choices %}
                                    <input type="radio" id="rating_{{ choice.0 }}" name="{{ rating_form.value.name }}" value="{{ choice.0 }}" class="star-rating-input"
                                    {% if choice.0 == existing_rating.value %} checked {% endif %}> <!-- Mark the radio button as checked if it matches the existing rating -->
                                    <label for="rating_{{ choice.0 }}" class="star-rating-label">
                                        <i class="bi bi-star-fill"></i> <!-- Use 'existing' class for styling -->
                                    </label>
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit Rating</button>
                </form>
            </div>
            {% endif %}

            <!-- If user is author of recipe, show edit button -->
            {% if user.username == recipe.user.username %}
                <button class="btn btn-success edit-btn" data-recipe-id="{{ recipe.id }}">
                    Edit
                </button>

                <!-- Show delete button -->
                <button class="btn btn-danger delete-btn" data-recipe-id="{{ recipe.id }}">
                    Delete
                </button>
            {% endif %}

            <!-- If user is logged in, add/remove to favourites -->
            <form action="{% url 'recipe' recipe.name %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
            {% if is_favourited %}
                <!-- If the user  has already added the recipe to favourites, show the "Remove from Favourites" button -->
                <button type="submit" name="action" value="remove" class="btn btn-danger" >Remove from Favourites</button>
            {% else %}
                <!-- If the user has not added the recipe to favourites, show the "Add to Favourites" button -->
                <button type="submit" name="action" value="add" class="btn btn-success">Add to Favourites</button>
            {% endif %}
            </form>
        </div>

        <!-- Display recipe description -->
        <div class="mt-5">        
            <p id="recipe-description-{{ recipe.id }}">{{ recipe.description }}</p>
        </div>

        <div class="mt-5">
            <div class="row">
            <div class="col-md-6">
                <!-- Display recipe ingredients -->
                <h3>Ingredients</h3>
                {% for ingredient in recipe.ingredients.all %}
                    <li>{{ ingredient.name }}</li>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <!-- Display recipe instructions -->
                <h3>Instructions</h3>
                {% if recipe.instructions %}
                    <p id="recipe-instructions-{{ recipe.id }}">{{ recipe.instructions }}</p>
                {% endif %}
            </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}